<p>2030: How Today's Biggest Trends Will Collide
and Reshape the Future of Everything</p>
<p>Mauro F.Guillén</p>
<p>The world is changing drastically
before our eyes—will you be prepared
for what comes next? A groundbreaking
analysis from one of the world's foremost
experts on global trends, including analysis
on how COVID-19 will amplify and accelerate
each of these changes. Once upon a time,
the world was neatly divided into
prosperous and backward economies.
Babies were plentiful, workers outnumbered
retirees, and people aspiring towards the
middle class yearned to own homes and cars.
Companies didn't need to see any further
than Europe and the United States to do well.
Printed money was legal tender for all debts,
public and private. We grew up learning how to
"play the game," and we expected the rules to
remain the same as we took our first job,
started a family, saw our children grow up,
and went into retirement with our
finances secure.</p>