<p>Eat a Peach</p>
<p>David Chang</p>
<p>In 2004, David Chang opened a noodle
restaurant named Momofuku in Manhattan's
East Village, not expecting the business to
survive its first year. In 2018, he was
the owner and chef of his own restaurant
empire, with 15 locations from New York
to Australia, the star of his own hit
Netflix show and podcast, was named one
of the most influential people of the
21st century and had a following of over
1.2 million. In this inspiring, honest and
heartfelt memoir, Chang shares the
extraordinary story of his culinary
coming-of-age.
Growing up in Virginia, the son of Korean immigrant
parents, Chang struggled with feelings of
abandonment, isolation and loneliness
throughout his childhood. After failing to
find a job after graduating, he convinced
his father to loan him money to open a restaurant.
Momofuku's unpretentious air and great-tasting
simple staples - ramen bowls and pork buns -
earned it rave reviews, culinary awards and
before long, Chang had a cult following.</p>