<p>Watch Over Me</p>
<p>Nina LaCour</p>
<p>Mila is used to being alone.
Maybe that’s why she said yes to the opportunity:
living in this remote place, among the flowers
and the fog and the crash of waves far below.
But she hadn’t known about the ghosts. Newly
graduated from high school, Mila has aged out
of the foster care system. So when she’s offered
a job and a place to stay at a farm on an
isolated part of the Northern California Coast,
she immediately accepts. Maybe she will finally
find a new home, a real home. The farm is a refuge,
but also haunted by the past traumas its young
residents have come to escape. And Mila’s own
terrible memories are starting to rise
to the surface. Watch Over Me is another stunner
from Printz Award-Winning author Nina LaCour,
whose empathetic, lyrical prose is at the
heart of this modern ghost story of
resilience and rebirth</p>