<p>When No One is Watching</p>
<p>Alyssa Cole</p>
<p>Sydney Green is Brooklyn born and raised,
but her beloved neighborhood seems to change
every time she blinks. Condos are sprouting
like weeds, FOR SALE signs are popping up
overnight, and the neighbors she’s known
all her life are disappearing.
To hold onto her community’s past and present,
Sydney channels her frustration into a
walking tour and finds an unlikely and unwanted
assistant in one of the new arrivals to
the block—her neighbor Theo.But Sydney and Theo’s
deep dive into history quickly becomes a
dizzying descent into paranoia and fear.
Their neighbors may not have moved to the
suburbs after all, and the push to revitalize
the community may be more deadly than advertised.
When does coincidence become conspiracy?
Where do people go when gentrification
pushes them out? Can Sydney and Theo
trust each other—or themselves—long
enough to find out before they too disappear?</p>