Horror fiction is fiction in any medium intended to scare,
unsettle, or horrify the audience. Historically,
the cause of the "horror" experience has often
been the intrusion of a supernatural element into
everyday human experience. Since the 1960s,
any work of fiction with a morbid, gruesome,
surreal, or exceptionally suspenseful or
frightening theme has come to be called "horror".
Horror fiction often overlaps science fiction or fantasy, all three of which
categories are sometimes placed under
the umbrella classification speculative fiction.
<h4>TOP-3 books:</h4>
<p><a href='{{url_for("horror_book1")}}'>A Deadly Education</a></p>
<p><a href='{{url_for("horror_book2")}}'>
When No One is Watching</a></p>
<p><a href='{{url_for("horror_book3")}}'>Watch Over Me</a></p>