<p>Science (from the Latin scientia, meaning “knowledge”)
is the effort to discover, and increase human
understanding of how the physical world works.
Through controlled methods, science uses observable
physical evidence of natural phenomena to collect data,
and analyzes this information to explain what
and how things work.</p>
<h4>TOP-3 books:</h4>
<p><a href='{{url_for("science_book1")}}'>Interference</a></p>
<p><a href='{{url_for("science_book2")}}'>Find Layla: A Novel</a></p>
<p><a href='{{url_for("science_book3")}}'>The Overstory</a></p>