<p>Interference</p>
<p>Brad Parks</p>
<p>From international bestselling author
Brad Parks comes an emotional, heart-pounding
thriller that explores the scientific
unknown—and one woman’s efforts to save
her husband from its consequences.
Quantum physicist Matt Bronik is suffering
from strange, violent seizures that medical
science seems powerless to explain—much
to the consternation of his wife, Brigid.
Matt doesn’t think these fits could be
related to his research, which he has
always described as benign and esoteric.
That, it turns out, is not quite true:
Matt has been prodding the mysteries
of the quantum universe, with terrible
repercussions for his health.
And perhaps even for humanity as a whole.</p>