<p>Find Layla: A Novel</p>
<p>Meg Elison</p>
<p>A neglected girl’s chaotic coming-of-age
becomes a trending new hashtag in a novel
about growing up and getting away by an
award-winning author. Underprivileged and
keenly self-aware, SoCal fourteen-year-old
Layla Bailey isn’t used to being noticed.
Except by mean girls who tweet about her
ragged appearance. All she wants to do is
indulge in her love of science, protect
her vulnerable younger brother, and
steer clear of her unstable mother. Then a
school competition calls for a biome.
Layla chooses her own home, a hostile
ecosystem of indoor fungi and secret shame.
With a borrowed video camera,
she captures it all. The mushrooms
growing in her brother’s dresser.
The black mold blooming up the apartment walls.
The unmentionable things living
in the dead fridge. All the inevitable
exotic toxins that are Layla’s life.
Then the video goes viral.</p>